@model QuiPay.DbModels.Payment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromAccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenProposed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenProposed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenDeclined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenDeclined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundPaymentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundPaymentID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
