@model IEnumerable<QuiPay.DbModels.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenProposed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenDeclined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefundPaymentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenProposed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundPaymentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
